@use "includes" as *;
@use "sass:map";

.px-container {
  width: 100%;
  max-width: breakpoint("xxl"); // Access the 'xxl' breakpoint
  padding: 0 responsive-values(20, 64);
  margin: 0 auto;
}

.px-container-lite {
  width: 100%;
  max-width: breakpoint("xxl"); // Access the 'xxl' breakpoint
  padding: 0 responsive-values(0, 16);
  margin: 0 auto;
}

.mx-container {
  width: 100%;
  max-width: breakpoint("xxl"); // Access the 'xxl' breakpoint
  margin: 0 auto;
}

.section-gap {
  gap: responsive-values(60, 80) 0;
  padding-bottom: responsive-values(60, 80);
}

.payload-richtext {
  h1 {
    margin-bottom: rem(16);
  }

  h2 {
    margin-bottom: rem(16);
  }

  h3 {
    margin-bottom: rem(16);
  }

  h4 {
    margin-bottom: rem(10);
  }

  h5 {
    margin-bottom: rem(10);
  }

  h6 {
    margin-bottom: rem(10);
  }

  p {
    color: var(--secondary-foreground);
    margin-bottom: rem(32);
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: rem(32);

    li {
      margin-bottom: rem(4);
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: rem(32);

    li {
      margin-bottom: rem(4);
    }
  }
}